{% extends 'base.html.twig' %}
{% block title %}{{ isEdit ? 'Modifier' : 'Nouvelle' }} règle d'équivalence{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>{{ isEdit ? 'Modification' : 'Création' }} d'une règle</h4>
        </div>
        <div class="card-body">
            {% if diplome is defined and diplome %}
                <div class="alert alert-info">
                    Diplôme : {{ diplome.titre }} ({{ diplome.etablissement.nom|default('?') }})
                </div>
            {% endif %}
            {% include 'regle_equivalence/_form.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
