<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold"
           href="{{ path('dashboard') }}">

            <i class="bi bi-building"></i>
            Equivalence

        </a>

        <div class="navbar-nav ms-auto">

            <a class="nav-link"
               href="{{ path('equivalence_index') }}">

                Dossiers

            </a>

        </div>

    </div>

</nav>