{% extends 'base.html.twig' %}

{% block title %}
Journal système
{% endblock %}

{% block body %}

<div class="container py-5">

    <h1 class="h3 text-primary">

        Journal système

    </h1>

</div>

{% endblock %}
