{% extends 'base.html.twig' %}

{% block title %}
Utilisateurs
{% endblock %}

{% block body %}

<div class="container py-5">

    <h1 class="h3 text-primary">

        Gestion des utilisateurs

    </h1>

</div>

{% endblock %}